*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('fundoazul5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.area{
    position: absolute;
    width: 400px;
    height: 600px;
    background: rgba(0, 83, 190, 0.5);
}

.container{
    width: 400px;
    padding: 35px;
    background-color: #1c1ec5;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 10);
    text-align: center;
}

h1{
    margin-bottom: 30px;
    color: #fff;
}

.icone{
    font-size: 45px;
    margin-bottom: 20px;
}

label{
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fffdfd;
}

select{
    width: 100%;
    padding: 13px;
    border: 5px solid #000000;
    margin-bottom: 20px;
    background-color: #00d9ff;
    font-family:Comic Sans MS, Comic Sans, cursive;
    border-radius: 10px;
    font-size: 16px;
    border: 4px solid #000000;
    outline: none;
    cursor: pointer;
}

select:focus{
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

.cursor{
    position:fixed;
    padding: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: width 0.15s, height 0.15s;
    animation: brilhoCursor 1.5s infinite alternate;
}

@keyframes brilhoCursor{
    from{
        transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) scale(1.2) rotate(20deg);
    }
}

button{
    width: 100%;
    padding: 13px;
    background-color: #00eeff;
    color: #000000;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 10);
    position: relative;
    overflow: hidden;
}

button::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -100%;
    width: 40%;
    height: 200%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,1),transparent);
    transform: rotate(20deg);
    animation: brilho 5s infinite;
}

@keyframes brilho{
    0%{
        left: -100%;
    }
    35%{
        left: 150%;
    }
    100%{
        left: 150%;
    }
}


button:hover{
    background-color: #001572;
    color: #ffffff;
    transform: scale(1.03);
    box-shadow: 0 6px 8px rgb(82, 206, 255);
}

button:active{
    transform: scale(0.98);
}

@media (max-width: 500px){
    .container{
        width: 90%;
        padding: 20px;
    }
}

footer{
    color: #fff;
}

.resultado{
    width: 100%;
    margin-top: 20px;
    padding: 25px;
    background-color: transparent;
    border-radius: 20px;
    border: 6px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 30);
    text-align: center;
    display: none;
}

.resultado h2{
    margin: 0;
    color: #ffffff;
    font-family: Verdana;
}

.resultado p{
    margin: 15px 0 5px;
    color: #fff;
    font-family: Verdana;
}

.resultado strong{
    font-size: 30px;
    color: #00ffea;
}

.resultado.mostrar{
    display: block;
    animation: fadeIn 2s ease-in-out;

}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
